<html>
<head>
   <title>{% block title %} {% endblock %}</title>
  
</head>
<body>
   {% if session['username'] %}
   <p>Selamat datang {{ session['username'] }}. <a href="/logout">Logout</a></p>
   {% else %}
   Bukan Kamu
   {% endif %}
        <a href="http://localhost:5000/home">Home</a><br>
        <a href="http://localhost:5000/home/databaru">Barang Baru</a><br>
        <a href="http://localhost:5000/home/datarusak">Barang Rusak</a><br>
        <a href="http://localhost:5000/home/perbaikan">Barang Repair</a><br>
          
</body>
</html>
